table.calendar {
    width: 85%; /* Adjust the width to your preference */
    margin: 0 auto; /* Center the calendar */
}

table.calendar th {
    background-color: #15bd90;
    color: #fff;
    font-size: 18px;
}

table.calendar th, table.calendar td {
    border: 1px solid #ddd;
    text-align: center;

    padding-top:    10px;
    padding-bottom: 10px;
    padding-left:   20px;
    padding-right:  20px;
}

table.calendar td {
    background-color: #f2f2f2;
    font-size: 12px;
}

/* Center the title */
h2 {
    text-align: center;
    font-size: 20px; /* Adjust the title font size */
    margin: 5px 0; /* Add some margin for spacing */
}
